@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root{
    --primary-color:#8000FF;
}
* {
  font-family: "Poppins", sans-serif;
}
.nav-bar {
  background: var(--primary-color);
}

.nav-10-link {
  color: #f6eefd;
  text-decoration: none;
  margin:auto;
  cursor: pointer;
  background-color: var(--primary-color);
}
.nav-10-link:hover{
    color:rgb(0, 0, 0);
}
.active {
    color:rgb(0, 0, 0);
}
