@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root{
    --primary-color:#8000FF;
}
* {
  font-family: "Poppins", sans-serif;
}
.nav-bar {
  background: var(--primary-color);
  height: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 10px;
  flex-wrap: wrap;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .nav-bar {
    flex-direction: column;
  }
}
.nav-link {
  color: #f6eefd;
  text-decoration: none;
  margin:10px;
}
.nav-link:hover{
    color:rgb(0, 0, 0);
}
.active {
    color:rgb(0, 0, 0);
}
